@import url("https://fonts.googleapis.com/css2?family=Playfair&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair", serif;
}
nav {
  background-color: #f4cea9;
}
.nav-link:hover {
  background-color: #e8c39e;
  color: white;
}
.footer {
  background-color: #f4cea9;
}
.social {
  font-size: 30px;
  margin-right: 20px;
}
.social:hover {
  color: white;
}
/* home */
.carousel-item {
  width: 100%;
}
.car {
  width: 100%;
  height: 540px;
}

.roo{
    margin: 0 !important;
    padding: 0 !important;
}


.about-img {
  height: 400px;
  width: 100%;
  /* margin: 2rem; */
}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


.next {
  background-color: #f4cea9;
  border: 1px solid black;
}
.next:hover {
  background-color: #e1bd99;
  border: 1.5px solid black;
}
.view {
  background-color: #f4cea9;
}
.view:hover {
  background-color: #e1bd99;
  border: 1px solid black;
}
#view {
  text-decoration: none !important;
  color: black;
}
.main-text{
    padding-top: 10rem;
}
/* admin */
.main {
  border: 1px Solid black;
}
.sbtn{
    float: left;
    padding: 20px;
    margin: 1rem;
}
.abtn{
    float: right;
    margin: 1rem;
    padding: 20px;
}
.edi, .add{
    padding: 1rem;
}
/* formspree form */
.form {
  padding: 50px;
  width: 500px;
  background-color: #f4cea9;
  margin-bottom: 2rem;
}
#send:hover {
  background-color: #e1bd99;
}